PermitRootLogin no

MaxAuthTries 3

LoginGraceTime 20

PermitEmptyPasswords no

PermitRootLogin no

ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no

X11Forwarding no

PermitUserEnvironment no

AllowAgentForwarding no
AllowTcpForwarding no
PermitTunnel no

