#authentication
PubkeyAuthentication yes
PasswordAuthentication yes
MaxAuthTries 3

#users/passwords
ClientAliveCountMax 1
PermitRootLogin no
LoginGraceTime 20
PermitEmptyPasswords no
PermitRootLogin no

